/* We can use these color classes provided by Materialize.css

Pink: red lighten-1
Light Gray: gray

*/

/* STRUCTURE */ 

body {
    font-family: 'Roboto', sans-serif;
}

#main {
    padding: 20px;
}
#cover-photo {
    height: 200px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}
.footer button{
    width: 100%;
    margin-top: 10px;
}