/* We can use these color classes provided by Materialize.css

Pink: red lighten-1
Buttons: red accent-1
Light Gray: grey

*/

body {
    font-family: 'Roboto', sans-serif;
}

#main {
    padding: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}
.footer button{
    width: 100%;
    margin-top: 10px;
}

#own-projects {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}